body , .mouseentrepot{
 background-color:#D0EAF5;
}
.mouseentrepot:hover {
 background-color:#54C4F0;
}

.panel{
	padding:0px;
}
h1{
	font-family: 'Oswald', sans-serif;
}
.hygrometrie{
	background-color: url(/static/img/goutte-deau1.png);
}
